:root {
    --color-back: #EEF0F2;
    --color-back-but: #cfebf3;
    --color-text: #1E1E24;
    --color-text-but: #1E1E24;
    --color-back-card: #235ad1;
    --color-switch-label: #1E1E24;
    --color-back-switch-card: linear-gradient(#cfebf3 116px, #F6F7F8 116px);
    --color-back-port-card: #EEF0F2;
    --color-back-diag-card: linear-gradient(#cfebf3 123px, #F6F7F8 123px);
    --color-back-login_form : #cfebf3;
    --color-back-admin-card: linear-gradient(to right, #cfebf3 73%, #1E1E24 27%);
    --color-back-employee-card: linear-gradient(to right, #cfebf3 73%, #1E1E24 27%);
    --color-back-action-butt: #cfebf3;
    --color-back-register-butt: #1E1E24;
    --color-back-login_butt: #1E1E24;
    --color-box-card: 0 2px 10px rgba(132, 106, 106, .3);
    --color-row: 1px solid rgba(2, 4, 40, .3);
    --color-port-label: #1E1E24;

    --theme-icon: url("/static/pallete_black.png");
    --docs-icon: url("/static/api_icon.png");
    --data-icon: url("/static/files_icon.png");
    --admin-icon: url("/static/admin_icon.png");
    --logout-icon: url("/static/logout_black.png");

    --port-icon: url("/static/port_icon_blue.png");
    --port-icon-label: url("/static/port_icon_blue.png");
}